<!DOCTYPE html>
<html>
<head>
  <title>Contacto de Ebany | Contact</title>
  <meta charset="UTF-8">
</head>
<body>
  Email: <%=email%><br/>
  Celular: <%=subject%><br/>
  Asunto: <%=contact%><br/>
  Persona que nos contactó: <%=name%>
</body>
</html>