<div class="container">
  <br/><br/>
  <div class="col-md-6">
  <div class="supertitle">Nosotros</div>
  <p>Plasmamos nuestras ideas y las de nuestros clientes, dejando en cada trabajo un sello diferenciador.</p<br/>
  <p>Nuestra experiencia de 22 años garantizan cada uno de nuestros trabajos con cocinas integrales de alta calidad ¡Lo mejor a su alcance!</p><br/>
  <p>Contamos con un equipo de profesionales innovadores, creativos y apasionados. Atendemos a particulares, empresas y constructoras.</p><br/>
  <p>Nosotros no le ofresemos una cocina cualquiera, le ofrecemos la concina que usted ha soñado la que necesita para su hogar, ese momento de convivencia esa experiencia que usted desea en la calidez de su casa.</p><br/>
  <center><p><h4>Redescubra el placer de su cocina ¡A la Medida!</h4></p><br/>
  <a class="btn btn-info btn-lg" href="/contacto">Contactar a Ebany</a>
  <br/><br/>
  </center>
</div>
<div class="col-md-6">
  <img src="/images/c5.jpg" width="100%;">
</div>
</div>