<div class="footer">
  <div class="container"><br/><br/>
    <div class="col-md-4">
      <i class="fa fa-facebook-official"></i> Contáctanos en Facebook <br/><br/>
      <i class="fa fa-twitter"></i> Contáctanos en Twitter <br/><br/>
      <a href="/contacto"><i class="fa fa-commenting-o"></i> Dejanos tus comentarios</a> <br/>
    </div>
    <div class="col-md-4">
      <center><br/><br/><br/>Cocinas Ebany &copy; Totos los derechos reservados</center>
    </div>
    <div class="col-md-4">
      <h4>Ebany Cocinas</h4><br/>
      En la Comarca Lagunera:<br/>
      Valle del Guadiana #645 Parque Industrial Lagunero<br/>
      Gómez Palacio, Dgo. Tel (871) 193-11-29<br/>
    </div>
    
  </div><br/><br/>
</div>